<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- 常量定义start -->
	<!-- 默认日志输出格式 -->
	<!-- https://logback.qos.ch/manual/layouts.html#conversionWord -->
	<property name="DEFAULT_PATTERN"
		value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{50} - [%file:%line] - [%M] - %msg%n" />
	<property name="MAX_HISTORY" value="30" />
	<property name="ASPECT_TAG" value="aspect" />
	<!-- 常量定义end -->

	<!-- 默认日志的console appender，本地使用的日志 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<!-- <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %highlight(%-5level) 
				%cyan(%logger{50}) - %yellow([%file:%line]) - %msg%n</pattern> -->
			<pattern>${DEFAULT_PATTERN}</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>


	<!-- 默认的file appender，按天切分日志 -->
	<appender name="ROLLING_FILE_ASPECT"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<file>F:/home/logs/${HOSTNAME}_${ASPECT_TAG}.log</file>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>F:/home/logs/${HOSTNAME}_${ASPECT_TAG}.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>${MAX_HISTORY}</maxHistory>
		</rollingPolicy>
		<!-- logstash json日志格式：使用LogstashEncoder时中文会转义为unicode字符，需在logstash采集端配置中input指定codec => "json" -->
		<encoder class="net.logstash.logback.encoder.LogstashEncoder"
			charset="UTF-8">
			<customFields>{"appname":"log-test"}</customFields>
		</encoder>
		<!-- <encoder> <pattern>${DEFAULT_PATTERN}</pattern> <charset>UTF-8</charset> 
			</encoder> -->
	</appender>
	
	<!-- async -->
	<appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="ROLLING_FILE_ASPECT" />
	</appender>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<springProfile name="dev,pre,prod">
			<appender-ref ref="ROLLING_FILE_ASPECT" />
			<!-- <appender-ref ref="ASYNC" /> -->
		</springProfile>
	</root>
	<logger name="com.reed.log.interceptor.LogAspect" level="INFO"
		additivity="false">
		<appender-ref ref="ROLLING_FILE_ASPECT" />
		<appender-ref ref="STDOUT" />
	</logger>
</configuration>